---
import BaseLayout from '../layouts/BaseLayout.astro';
import {getCollection} from 'astro:content';

import HeroAbout from '../components/HeroAbout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import * as Icons from '../components/icons/index.astro';

const iconComponents: any = Icons;

const collections = {
	languages: await getCollection('languages'),
	contact: await getCollection('contact'),
	background: (await getCollection('background')).sort(
		(a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
	),
};

const groupedBackground = {
	education: collections.background.filter((item) =>
		item.id.startsWith('education'),
	),
	experience: collections.background.filter((item) =>
		item.id.startsWith('experience'),
	),
};
---

<BaseLayout
	title='About | Francisco Andreo'
	description='A full track of my background, education, and skills.'>
	<div class='stack gap-20'>
		<main class='wrapper about'>
			<header class='hero'>
				<HeroAbout data={collections.contact[0].data} align='start' />
			</header>

			<section>
				<h2 class='section-title'>Work experience</h2>
				<div class='content'>
					<ul class='data-list'>
						{
							groupedBackground.experience.map(async (entry) => {
								const {Content} = await entry.render(); // Render Markdown Content
								return (
									<li>
										<div class='data-header'>
											<div class='data-title'>
												<h3>{entry.data.title}</h3>
												<ul class='tech-list'>
													{entry.data.tags.map(
														(tag) => {
															const tagIcon = `${tag}Icon`;
															const IconComponent =
																iconComponents[
																	tagIcon
																]; // Get the component reference
															return (
																<li
																	class='brandLogo'
																	title={tag}>
																	<IconComponent />
																</li>
															);
															// return <li>{tagIcon}</li>
														},
													)}
												</ul>
											</div>

											<p class='subtitle'>
												{entry.data.organization}
											</p>
										</div>
										<p>
											{new Date(
												entry.data.startDate,
											).getFullYear()}{' '}
											-{' '}
											{entry.data.endDate
												? new Date(
														entry.data.endDate ||
															new Date(),
													).getFullYear()
												: 'Current'}
										</p>
										<div class='entry-content'>
											<Content />
										</div>
									</li>
								);
							})
						}
					</ul>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Education</h2>
				<div class='content'>
					<ul class='data-list'>
						{
							groupedBackground.education.map(async (entry) => {
								const {Content} = await entry.render(); // Render Markdown Content
								return (
									<li>
										<div class='data-header'>
											<div class='data-title'>
												<h3>{entry.data.title}</h3>
												<ul class='tech-list'>
													{entry.data.tags.map(
														(tag) => {
															const tagIcon = `${tag}Icon`;
															const IconComponent =
																iconComponents[
																	tagIcon
																]; // Get the component reference
															return (
																<li
																	class='brandLogo'
																	title={tag}>
																	<IconComponent />
																</li>
															);
															// return <li>{tagIcon}</li>
														},
													)}
												</ul>
											</div>

											<p class='subtitle'>
												{entry.data.organization}
											</p>
										</div>
										<p>{entry.data.grade}</p>
										<p>
											{new Date(
												entry.data.startDate,
											).getFullYear()}{' '}
											-{' '}
											{new Date(
												entry.data.endDate ||
													new Date(),
											).getFullYear()}
										</p>
										<div class='entry-content'>
											<Content />
										</div>
									</li>
								);
							})
						}
					</ul>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Languages</h2>
				<div class='content'>
					<ul class='data-list'>
						{
							collections.languages.map((entry) => (
								<li>
									<div class='data-header'>
										<div class='data-title'>
											<h3>{entry.data.title}</h3>
										</div>
										<p class='subtitle'>
											{entry.data.grade}
										</p>
									</div>
									<p>{entry.data.exam} </p>
									<p>{entry.data.organization}</p>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	:root {
		--off-white: #fafaf0;
		--light-gray: #9ca6a2;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		& > :global(:first-child) {
			grid-column-start: 2;
		}
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		row-gap: 2rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-md);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;

		.data-list {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding: 0;

			li {
				list-style-type: none;

				.entry-content {
					margin-top: 1rem;
					ul {
						padding: 0;
						display: flex;
						flex-direction: column;
						gap: 0.5rem;
						li {
							&::before {
								content: '• ';
							}
						}
					}
				}
				.data-header {
					margin-bottom: 0.5rem;
					.data-title {
						display: flex;
						flex-wrap: wrap;
						align-items: baseline;
						gap: 1rem;

						h3 {
							font-size: var(--text-2xl);
						}

						.tech-list {
							display: flex;
							flex-wrap: wrap;
							gap: 0.5rem;
							padding: 0;
							/* justify-content: flex-start; */

							.brandLogo {
								width: 25px;
								height: fit-content;
								/* margin: auto; */
								overflow: hidden;
							}
						}
					}
					.subtitle {
						font-size: var(--text-md);
						color: var(--accent-regular);
					}
				}
			}
		}
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.section-title {
			margin-top: 0.5rem;
			font-size: var(--text-md);
		}
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
			grid-column-end: 4;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
