---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import {getCollection} from 'astro:content';

const background = (await getCollection('background')).sort(
	(a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);

const education = background.filter((item) => item.id.startsWith('education'));
const experience = background.filter((item) =>
	item.id.startsWith('experience'),
);
---

<BaseLayout
	title='About | Francisco Andreo'
	description='A full track of my background, education, and skills.'>
	<div class='stack gap-20'>
		<main class='wrapper about'>
			<Hero
				title='About'
				tagline='Thanks for stopping by. Read below to learn more about myself and my background.'>
				<img
					class='tilt-full'
					width='1553'
					height='873'
					src='/assets/at-work.jpg'
					alt='Jeanine White at work with a colleague'
				/>
			</Hero>

			<section>
				<h2 class='section-title'>Background</h2>
				<div class='content'>
					<ul>
						{
							experience.map((entry) => (
								<li>
									<h3>{entry.data.organization}</h3>
									<p>{entry.data.title}</p>
									<p>
										{new Date(
											entry.data.startDate,
										).getFullYear()}{' '}
										-{' '}
										{entry.data.endDate
											? new Date(
													entry.data.endDate,
												).getFullYear()
											: 'Current'}
									</p>
									<p>{entry.data.description}</p>
								</li>
							))
						}
					</ul>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Education</h2>
				<div class='content'>
					<ul>
						{
							education.map((entry) => (
								<li>
									<h3>{entry.data.title}</h3>
									<p>
										{entry.data.grade} -{' '}
										{entry.data.organization}
									</p>
									<p>
										{new Date(
											entry.data.startDate,
										).getFullYear()}{' '}
										-{' '}
										{new Date(
											entry.data.endDate,
										).getFullYear()}
									</p>
									<p>{entry.data.description}</p>
								</li>
							))
						}
					</ul>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Skills</h2>
				<div class='content'>
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
	
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		row-gap: 2rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;

		ul {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding: 0;

			li {
				list-style-type: none;
				h3 {
					font-size: var(--text-2xl);
					color: var(--accent-regular);
				}
			}
		}
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
